.logo {
  width: 120px;
  height: 31px;
  line-height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 0px 28px 0px 0;
  float: left;
  padding-left: 10px;
  font-weight: bold;
  color: #fff;
}

.logo img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
